<!DOCTYPE html>
<html>

    <head>
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        
    </head>

    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-white border-end" id="sidebar-wrapper">
                <div class="sidebar-heading text-center py-4 fs-1 fw-bold text-green">FCA AttendancePulse</div>
                <div class="list-group list-group-flush">
                    <a href="/dashboard" class="list-group-item list-group-item-action bg-transparent">Dashboard</a>
                    <a href="/api/auth/students"
                        class="list-group-item list-group-item-action bg-transparent">Students</a>
                    <a href="/lecturer" class="list-group-item list-group-item-action bg-transparent">Sessions</a>
                    <a href="/api/report/attendance"
                        class="list-group-item list-group-item-action bg-transparent">Attendance</a>
                    <a href="/admin" class="list-group-item list-group-item-action bg-transparent">Admin</a>
                    <button id="logoutBtn" class="btn btn-green">Logout</button>

                </div>
            </div>

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg border-bottom"
                    style="margin-top: -20px;margin-right: -20px;margin-left: -20px">
                    <div class="container-fluid">
                        <button class="btn" id="sidebarToggle"
                            style="background-color: rgb(17, 74, 17);color: white;width: 42px">☰</button>
                        <h4 style="color: green; font-weight: bold">FCA AttendancePulse</h4>
                        <span class="ms-auto">Logged in as: <strong id="navbarUser">Loading...</strong></span>
                    </div>
                </nav>


                <div class="header" style="background-color: #f4fdf7;color: rgb(17, 74, 17);">Admin Dashboard</div>

                <div class="container" style="width:600px;margin-left:200px;">

                    <div class="card">
                        <form action="/api/auth/register-student" method="POST">
                            <h3>Register Student</h3>
                            <input id="studentName" placeholder="Student Name" name="name" type="text">
                            <br><br>

                            <input type="email" placeholder="Student Email" name="email" id="studentEmail">
                            <br><br>
                            <button type="submit">Register Student</button>
                        </form>
                        <div id="qrPreview"></div>
                    </div>

                    <div class="card">
                        <form action="/api/auth/register-lecturer" method="POST">
                            <h3>Register Lecturer</h3>
                            <input id="lecName" placeholder="Lecturer Name" name="name">
                            <br><br>
                            <input id="lecEmail" placeholder="Email" name="email">
                            <br><br>
                            <input id="lecPass" type="password" placeholder="Password" name="password">
                            <br><br>
                            <button type="submit">Register Lecturer</button>
                        </form>
                    </div>

                    <div class="card">
                        <h3>Download Monthly Report</h3>
                        <input type="month" id="monthInput">
                        <button id="downloadReportBtn" style="width: 200px; height: 40px; margin-top: 10px;"
                            data-month="" data-year="">
                            Download Excel
                        </button>
                    </div>
                    <div id="hiddenTableContainer" style="display:none;"></div>

                </div>

            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/xlsx.full.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/dashboard.js"></script>
        <script src="js/admin.js"></script>
    </body>

</html>